body {
    display: flex;
    justify-content: center;
    margin: 0;
    font-family: Arial, sans-serif;
}

#startScreen {
    text-align: center;
    width: 90%;
    max-width: 700px;
    margin-top: 50px;
}

#gameScreen, #resultScreen {
    display: none;
    text-align: center;
    margin-top: 50px;
}

#explanation {
    text-align: left;
}

#numberForm {
    text-align: right;
    width: 70%;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

#details {
    margin-top: 20px;
    font-size: 14px;
    text-align: center;
}

.smallest-factor {
    color: red;
}

.highest-score {
    background-color: yellow;
}

#buttons {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
    gap: 10px;
}

.button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    width: 220px;
    gap: 15px;
}

#buttons button {
    flex-shrink: 0;
    width: 100px;
    height: 50px;
    font-size: 16px;
    cursor: pointer;
}

.factor-display {
    flex-grow: 1;
    text-align: left;
    font-size: 14px;
    white-space: nowrap;
}

button[type="button"] {
    flex-shrink: 0;
    width: 100px;
    height: 50px;
    margin-top: 20px;
    font-size: 16px;
    cursor: pointer;
}

#skipButton {
    margin-top: 80px;
    color: white;
    background: #ed1919;
}

.checkbox {
    appearance: none;
    flex-shrink: 0;
    height: 24px;
    width: 24px;
    margin: 8px;
    border: 1px solid #8b98a5;
    border-radius: 4px;
}

.checkbox:checked {
    border: 1px solid #8b98a5;
    background-color: #ed1919;
}

.checkbox:checked::before {
    display: grid;
    place-content: center;
    color: white;
    height: 100%;
    width: 100%;
    font-size: 20px;
    content: "×";
}

.textbox {
    font-size: 18px;
    width: 40%;
    padding: 3px;
    margin: 2px;
}
